name: payititi-test-selenium

on:
  # 若要启用手动触发工作流，需要配置 workflow_dispatch 事件。
  workflow_dispatch:

  # 通过 schedule 事件，可以在计划的时间触发工作流。  
  schedule:
    - cron: '00 12 * * *'

  # 在推送提交或标记时运行工作流程。    
  push:
    branches: [ "main" ]

  # 在工作流程存储库中发生有关拉取请求的活动时运行工作流程。
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test-selenium-script:
    # runs-on: ubuntu-latest
    # runs-on: windows-latest
    runs-on: macos-latest

    steps:
      - name: Install Checkout
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1.4.0
        with:
          chrome-version: stable
        id: setup-chrome
      - run: |
          echo Installed chrome version: ${{ steps.setup-chrome.outputs.chrome-version }}
          ${{ steps.setup-chrome.outputs.chrome-path }} --version

      - name: Install chromedriver
        uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: '114.0.5735.90' # macos chromedriver version
          # chromedriver-version: '115.0.5790.170' # linux chromedriver version
      - run: |
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional

      - name: Install requirements
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
          
      - name: Working
        run: |
            python3 function/payititi/payititi-selenium.py
        env:
          PAYITITI_USER: ${{ secrets.PAYITITI_USER }}
          PAYITITI_PASSWORD: ${{ secrets.PAYITITI_PASSWORD }}
          SEND_KEY: ${{ secrets.SEND_KEY }}