name: 帕依提提自动签到

on:
  workflow_dispatch:
  schedule:
    - cron: '00 12 * * *'
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.repository.owner.id }} == ${{ github.event.sender.id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 'Set up Python'
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: '安装依赖包'
        run: pip install -r ./requirements.txt

      - name: '运行 帕依提提自动签到'
        run: python3 function/payititi/payititi.py
        env:
          BIKA_USER: ${{ secrets.BIKA_USER }}
          BIKA_PASS: ${{ secrets.BIKA_PASS }}
          SEND_KEY: ${{ secrets.SEND_KEY }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
