name: test-selenium
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4 selenium==3.141.0

    - name: Install Chrome
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: "latest"
  #   run: |
  #     sudo apt-get install google-chrome-stable
  #     google-chrome --version
  #     google-chrome-stable --version
  #     google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  #     whereis google-chrome-stable        

    - name: Install chromedriver
      # uses: nanasess/setup-chromedriver@v2
      uses: nanasess/setup-chromedriver@master
      with:
        chromedriver-version: '88.0.4324.96'
        
    - name: Working
      run: |
        python3 function/payititi/payititi-selenium.py
      env:
        PAYITITI_USER: ${{ secrets.PAYITITI_USER }}
        PAYITITI_PASSWORD: ${{ secrets.PAYITITI_PASSWORD }}
        SEND_KEY: ${{ secrets.SEND_KEY }}
on:
  workflow_dispatch:
  schedule:
    - cron: '00 12 * * *'
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.repository.owner.id }} == ${{ github.event.sender.id }}
    steps:
      - name: Install Checkout
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: "latest"

      #   run: |
      #     sudo apt-get install google-chrome-stable
      #     google-chrome --version
      #     google-chrome-stable --version
      #     google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
      #     whereis google-chrome-stable        

      - name: Install chromedriver
        # uses: nanasess/setup-chromedriver@v2
        uses: nanasess/setup-chromedriver@master
        with:
          chromedriver-version: '88.0.4324.96'

     - name: Install requirements
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
        
      - name: Working
        run: |
          python3 function/payititi/payititi-selenium.py
        env:
          PAYITITI_USER: ${{ secrets.PAYITITI_USER }}
          PAYITITI_PASSWORD: ${{ secrets.PAYITITI_PASSWORD }}
          SEND_KEY: ${{ secrets.SEND_KEY }}
