name: test-selenium
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4 selenium

    - name: Install Chrome
      uses: browser-actions/setup-chrome@latest

    - name: Install chromedriver
      uses: nanasess/setup-chromedriver@master
        
    - name: Working
      run: |
        python3 function/payititi/payititi-selenium.py
      env:
        PAYITITI_USER: ${{ secrets.PAYITITI_USER }}
        PAYITITI_PASSWORD: ${{ secrets.PAYITITI_PASSWORD }}
        SEND_KEY: ${{ secrets.SEND_KEY }}
